* {
  font-family: lato;
}

.bi-hand-thumbs-up-fill {
  color: #4E5166;
  font-size: large;
  cursor: pointer;
  opacity: 1;
}
.bi-hand-thumbs-up-fill:hover {
  cursor: pointer;
  color: #FD2D01;
}

.bi-hand-thumbs-down-fill {
  color: #4E5166;
  font-size: large;
  cursor: pointer;
}
.bi-hand-thumbs-down-fill:hover {
  color: #FD2D01;
  cursor: pointer;
}

.site {
  -webkit-animation: site-appear 7000ms forwards;
          animation: site-appear 7000ms forwards;
}

@-webkit-keyframes site-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes site-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loading-spinner {
  -webkit-animation: loading-disappear 4800ms forwards;
          animation: loading-disappear 4800ms forwards;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.loading-spinner img {
  width: 500px;
  height: 90px;
}
.loading-spinner .beatloader {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 150%;
}

@-webkit-keyframes loading-disappear {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes loading-disappear {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .loading-spinner {
    position: absolute;
    top: 30%;
    left: 50%;
  }
  .loading-spinner img {
    width: 350px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .loading-spinner img {
    width: 260px;
    height: 50px;
  }
  .loading-spinner .beatloader {
    left: 40%;
    width: 25%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 5px #d1d1d1;
  padding-bottom: 10px;
  margin-top: -22px;
  background-color: white;
  position: fixed;
  width: 1535px;
}
nav img {
  height: 65px;
  width: 350px;
  margin-left: 35px;
  margin-top: 15px;
}
nav .header_links {
  margin-top: 15px;
}
nav .header_links a {
  color: black;
  text-decoration: none;
  font-size: large;
  margin-right: 65px;
}
nav .header_links a:hover {
  color: #FD2D01;
}
nav .header_links i {
  margin-right: 6px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    display: none;
  }
}
@media (max-width: 767px) {
  nav {
    display: none;
  }
}
.menuburger_container {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menuburger_container {
    display: contents;
    height: 100px;
    width: 991px;
    display: block;
    position: fixed;
    margin-top: -25px;
    background-color: white;
  }
  .menuburger_container img {
    height: 70px;
    width: 370px;
    margin-left: 35px;
    margin-top: 22px;
    margin-bottom: 10px;
  }
  .menuburger_container nav {
    display: contents;
  }
  .menuburger_container nav a {
    text-decoration: none;
    color: #e42801;
    font-size: larger;
  }
  .menuburger_container nav a:hover {
    color: #fe4119;
  }
  .menuburger_container nav .menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .menuburger_container nav .menu-item i {
    font-style: normal;
  }
  .menuburger_container nav .menu-item i span {
    margin-left: 10px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 10%;
    top: 35px;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #FD2D01;
  }
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #4E5166;
  }
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  /* Color/shape of close button cross */
  .bm-cross {
    background: #FD2D01;
  }
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #FFD7D7;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #FFD7D7;
  }
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 767px) {
  .menuburger_container {
    display: contents;
    height: 80px;
    width: 767px;
    display: block;
    position: fixed;
    background-color: white;
    margin-top: -20px;
  }
  .menuburger_container img {
    height: 47px;
    width: 260px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .menuburger_container nav {
    display: contents;
  }
  .menuburger_container nav a {
    text-decoration: none;
    color: #e42801;
    font-size: larger;
  }
  .menuburger_container nav a:hover {
    color: #fe4119;
  }
  .menuburger_container nav .menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .menuburger_container nav .menu-item i {
    font-style: normal;
  }
  .menuburger_container nav .menu-item i span {
    margin-left: 10px;
  }
  .bm-burger-button {
    position: fixed;
    width: 31px;
    height: 25px;
    right: 8%;
    top: 28px;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #FD2D01;
  }
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #4E5166;
  }
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  /* Color/shape of close button cross */
  .bm-cross {
    background: #FD2D01;
  }
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #FFD7D7;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #FFD7D7;
  }
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
.footer_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 3px #d1d1d1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 80px;
  margin-bottom: 10px;
}
.footer_container img {
  height: 40px;
  width: 230px;
  margin-right: 450px;
  margin-top: 10px;
}
.footer_container ul {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.footer_container ul li {
  color: black;
  list-style: none;
  font-size: medium;
  cursor: pointer;
}
.footer_container ul li:hover {
  color: #FD2D01;
}
.footer_container ul li a {
  text-decoration: none;
  color: black;
}
.footer_container ul li a:hover {
  color: #FD2D01;
}
.footer_container ul i {
  margin-right: 6px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer_container {
    height: 40px;
  }
  .footer_container img {
    height: 35px;
    width: 200px;
    margin-right: 560px;
    margin-top: 15px;
  }
  .footer_container ul {
    margin-top: 0px;
    gap: 25px;
    position: relative;
    bottom: 28px;
    left: 100px;
  }
  .footer_container ul li {
    font-size: medium;
  }
}
@media (max-width: 767px) {
  .footer_container {
    width: 375px;
    height: 40px;
  }
  .footer_container img {
    height: 35px;
    width: 220px;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .footer_container ul {
    margin-top: 0px;
    padding-left: 90px;
    margin-right: 110px;
    padding-bottom: 35px;
    gap: 25px;
  }
  .footer_container ul li {
    font-size: medium;
  }
}
.home_page {
  background-color: #fff1f1;
}
.home_page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD2D01;
  font-size: xx-large;
  padding-top: 110px;
  padding-bottom: 20px;
}
.home_page .home_posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 90px;
  -webkit-animation: posts-slide 3000ms;
          animation: posts-slide 3000ms;
}
.home_page .home_posts-container .home_one-post {
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 7px 7px 10px 6px #d1d1d1;
  border-radius: 15px;
  width: 760px;
  height: 590px;
  padding-left: 40px;
  padding-top: 10px;
}
.home_page .home_posts-container .home_one-post .home_one-post-link {
  text-decoration: none;
  color: black;
}
.home_page .home_posts-container .home_one-post .home_one-post-link .home_postdate {
  display: flex;
  justify-content: right;
  padding-right: 40px;
  padding-top: 10px;
  font-size: small;
}
.home_page .home_posts-container .home_one-post .home_one-post-link .home_postdate i {
  margin-right: 6px;
}
.home_page .home_posts-container .home_one-post .home_one-post-link h3 {
  padding-bottom: 30px;
  border: 3px dotted #FFD7D7;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 720px;
}
.home_page .home_posts-container .home_one-post .home_one-post-link h2 {
  color: #ff8b8b;
  padding-top: 10px;
}
.home_page .home_posts-container .home_one-post .home_one-post-link p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: medium;
  padding-top: 10px;
  padding-right: 90px;
}
.home_page .home_posts-container .home_one-post .home_one-post-link .home_more {
  color: black;
  font-size: small;
  text-decoration: underline;
}
.home_page .home_posts-container .home_one-post .home_one-post-link .home_more:hover {
  color: #ff7171;
}
.home_page .home_posts-container .home_one-post .home_one-post-link img {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: auto;
  height: 200px;
  padding-top: 25px;
  padding-bottom: 30px;
}
.home_page .home_posts-container .home_one-post button {
  background-color: #FFD7D7;
  color: #2d2f3b;
  border-radius: 20px;
}
.home_page .home_posts-container .home_one-post .home_editerase-buttons {
  font-size: small;
  margin-top: 10px;
}
.home_page .home_posts-container .home_one-post .home_editerase-buttons button {
  width: 80px;
  height: 30px;
}
.home_page .home_posts-container .home_one-post .home_editerase-buttons button:hover {
  background-color: #ffbebe;
  cursor: pointer;
}
.home_page .home_posts-container .home_one-post .home_editerase-buttons a {
  text-decoration: none;
  color: #2d2f3b;
}
.home_page .home_posts-container .home_one-post .home_react-buttons {
  margin-top: -30px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-right: 30px;
  gap: 15px;
}
.home_page .home_posts-container .home_one-post .home_react-buttons button {
  font-size: large;
  width: 40px;
  height: 40px;
}
.home_page .home_posts-container .scroll-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  z-index: 500;
}
.home_page .home_posts-container .scroll-to-top i {
  font-size: xx-large;
  color: #FD2D01;
}

@-webkit-keyframes posts-slide {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes posts-slide {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .home_page .home_posts-container .home_one-post {
    width: 670px;
  }
}
@media (max-width: 767px) {
  .home_page h1 {
    font-size: x-large;
  }
  .home_page .home_posts-container .home_one-post {
    height: auto;
    width: 320px;
    padding-left: 15px;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link {
    text-decoration: none;
    color: black;
    font-size: medium;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link .home_postdate {
    font-size: x-small;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link .home_postdate i {
    margin-right: 6px;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link h3 {
    padding-bottom: 30px;
    width: 300px;
    font-size: medium;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link h2 {
    font-size: large;
    padding-top: 5px;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link p {
    font-size: medium;
    padding-top: 3px;
  }
  .home_page .home_posts-container .home_one-post .home_one-post-link img {
    padding-bottom: 20px;
    width: 290px;
    height: auto;
  }
  .home_page .home_posts-container .home_one-post .home_react-buttons {
    margin-top: -35px;
    margin-right: 20px;
    gap: 9px;
    padding-bottom: 20px;
  }
}
.login_background {
  background-color: #fff1f1;
  padding-top: 130px;
  margin-top: 20px;
  padding-bottom: 90px;
}

.login-container {
  margin: 0 auto;
  padding-bottom: 50px;
  box-shadow: 7px 7px 10px 6px #d1d1d1;
  width: 330px;
  border-radius: 20px;
  background-color: white;
}
.login-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD2D01;
  font-size: xx-large;
  padding-top: 40px;
  padding-bottom: 5px;
}
.login-container .login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: large;
  padding-bottom: 20px;
}
.login-container .login_form i {
  margin-right: 10px;
}
.login-container .login_form .login_button-login {
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 140px;
  height: 35px;
  margin-top: 10px;
}
.login-container .login_form .login_button-login:hover {
  background-color: #FD2D01;
  cursor: pointer;
}
.login-container .login_button-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.login-container .login_button-register-container p {
  margin-bottom: 10px;
}
.login-container .login_button-register-container .login_button-register {
  background-color: black;
  border-radius: 20px;
  width: 140px;
  height: 35px;
}
.login-container .login_button-register-container .login_button-register:hover {
  background-color: #FD2D01;
}
.login-container .login_button-register-container .login_button-register a {
  text-decoration: none;
  font-size: large;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .login_background {
    padding-bottom: 420px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .login_background {
    margin-top: 10px;
  }
  .login-container h1 {
    font-size: x-large;
    padding-bottom: 15px;
  }
}
.register_background {
  background-color: #fff1f1;
  padding-bottom: 100px;
  padding-top: 130px;
  margin-top: 20px;
}

.register_container {
  padding-bottom: 50px;
  box-shadow: 7px 7px 10px 6px #d1d1d1;
  border-radius: 20px;
  width: 430px;
  margin: 0 auto;
  background-color: white;
}
.register_container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD2D01;
  font-size: xx-large;
  padding-top: 40px;
  padding-bottom: 5px;
}
.register_container .register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: large;
  padding-bottom: 20px;
}
.register_container .register_form i {
  margin-right: 10px;
}
.register_container .register_form .register_mail-input {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.register_container .register_form .register_password-input {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.register_container .register_form ul {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: -50px;
  font-size: small;
}
.register_container .register_form .register_button-register {
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 140px;
  height: 35px;
}
.register_container .register_form .register_button-register:hover {
  background-color: #FD2D01;
  cursor: pointer;
}
.register_container .register_button-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.register_container .register_button-login-container p {
  margin-bottom: 10px;
}
.register_container .register_button-login-container .register_button-login {
  background-color: black;
  border-radius: 20px;
  width: 140px;
  height: 35px;
}
.register_container .register_button-login-container .register_button-login:hover {
  background-color: #FD2D01;
}
.register_container .register_button-login-container .register_button-login a {
  text-decoration: none;
  font-size: large;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .register_background {
    padding-bottom: 265px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .register_background {
    margin-top: 10px;
  }
  .register_container {
    width: 320px;
  }
  .register_container h1 {
    font-size: x-large;
    padding-bottom: 15px;
  }
  .register_container .register_form ul {
    width: 250px;
  }
}
.newpost_background {
  background-color: #fff1f1;
  margin-top: 20px;
  padding-top: 110px;
  padding-bottom: 100px;
}

.newpost_container {
  margin: 0 auto;
  padding-bottom: 50px;
  box-shadow: 7px 7px 10px 6px #d1d1d1;
  width: 500px;
  border-radius: 20px;
  background-color: white;
}
.newpost_container h1 {
  padding-top: 35px;
  padding-bottom: 20px;
  color: #FD2D01;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newpost_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: large;
}
.newpost_container form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.newpost_container form label textarea {
  height: 200px;
  width: 350px;
}
.newpost_container form .newpost_button {
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 100px;
  height: 35px;
}
.newpost_container form .newpost_button:hover {
  background-color: #FD2D01;
  cursor: pointer;
}

input[type=file] {
  cursor: pointer;
}

input[type=text] {
  height: 30px;
  width: 350px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .newpost_background {
    padding-bottom: 190px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .newpost_background {
    margin-top: 10px;
  }
  .newpost_container {
    width: 320px;
  }
  .newpost_container h1 {
    font-size: x-large;
  }
  .newpost_container form label textarea {
    width: 240px;
  }
  input[type=file] {
    cursor: pointer;
  }
  input[type=text] {
    height: 30px;
    width: 240px;
  }
}
.viewpost_page {
  background-color: #fff1f1;
  padding-bottom: 100px;
}
.viewpost_page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD2D01;
  font-size: xx-large;
  padding-top: 110px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.viewpost_page .scroll-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  z-index: 500;
}
.viewpost_page .scroll-to-top i {
  font-size: xx-large;
  color: #FD2D01;
}
.viewpost_page .viewpost_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 7px 7px 10px 6px #d1d1d1;
  border-radius: 15px;
  width: 750px;
  height: auto;
  padding-left: 40px;
  padding-top: 10px;
  margin: auto;
}
.viewpost_page .viewpost_container .viewpost_postdate {
  display: flex;
  justify-content: right;
  padding-right: 40px;
  padding-top: 10px;
  font-size: small;
}
.viewpost_page .viewpost_container .viewpost_postdate i {
  margin-right: 6px;
}
.viewpost_page .viewpost_container h3 {
  padding-bottom: 30px;
  border: 3px dotted #FFD7D7;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 720px;
}
.viewpost_page .viewpost_container h2 {
  color: #ff8b8b;
  padding-top: 10px;
}
.viewpost_page .viewpost_container p {
  white-space: break-spaces;
  font-size: medium;
  padding-top: 10px;
  padding-right: 150px;
}
.viewpost_page .viewpost_container img {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: auto;
  height: 250px;
  padding-top: 25px;
  padding-bottom: 70px;
}
.viewpost_page .viewpost_container .viewpost_button {
  display: flex;
  justify-content: center;
}
.viewpost_page .viewpost_container .viewpost_button button {
  background-color: black;
  border-radius: 20px;
  width: 140px;
  height: 35px;
}
.viewpost_page .viewpost_container .viewpost_button button:hover {
  background-color: #FD2D01;
}
.viewpost_page .viewpost_container .viewpost_button button a {
  text-decoration: none;
  font-size: large;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .viewpost_page h1 {
    margin-top: 10px;
  }
  .viewpost_page .viewpost_container {
    width: 670px;
  }
  .viewpost_page .viewpost_container p {
    padding-right: 30px;
  }
  .viewpost_page .viewpost_container img {
    width: auto;
    height: 250px;
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .viewpost_page h1 {
    font-size: x-large;
    margin-top: 10px;
  }
  .viewpost_page .viewpost_container {
    width: 320px;
    padding-left: 15px;
  }
  .viewpost_page .viewpost_container .viewpost_postdate {
    font-size: x-small;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .viewpost_page .viewpost_container h3 {
    width: 300px;
    font-size: medium;
  }
  .viewpost_page .viewpost_container h2 {
    font-size: large;
    padding-top: 0px;
    margin-top: 0px;
  }
  .viewpost_page .viewpost_container p {
    font-size: medium;
    padding-top: 0px;
    padding-right: 15px;
  }
  .viewpost_page .viewpost_container img {
    padding-bottom: 25px;
    width: 290px;
    height: auto;
  }
  .viewpost_page .viewpost_container .viewpost_react-buttons {
    margin-top: -35px;
    margin-right: 20px;
    gap: 9px;
  }
}
.profile_background {
  background-color: #fff1f1;
  padding-bottom: 130px;
  padding-top: 130px;
  margin-top: 20px;
}
.profile_background h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD2D01;
  font-size: xx-large;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
}
.profile_background .profile_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 7px 7px 10px 6px #d1d1d1;
  border-radius: 15px;
  width: 750px;
  height: 270px;
  padding-left: 40px;
  padding-top: 10px;
  margin: auto;
}
.profile_background .profile_container img {
  position: relative;
  bottom: 65%;
  left: 65%;
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.profile_background .profile_container .profile_edit-button {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  margin-left: -50px;
}
.profile_background .profile_container .profile_edit-button button {
  background-color: black;
  border-radius: 20px;
  width: 110px;
  height: 35px;
}
.profile_background .profile_container .profile_edit-button button:hover {
  background-color: #FD2D01;
  cursor: pointer;
}
.profile_background .profile_container .profile_edit-button button a {
  color: white;
  text-decoration: none;
  font-size: large;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .profile_background {
    padding-bottom: 460px;
    margin-top: 10px;
  }
  .profile_background .profile_container {
    width: 670px;
  }
}
@media (max-width: 767px) {
  .profile_background {
    padding-bottom: 650px;
    margin-top: 10px;
  }
  .profile_background h1 {
    font-size: x-large;
  }
  .profile_background .profile_container {
    height: 350px;
    width: 320px;
    padding-left: 15px;
    padding-top: 0px;
  }
  .profile_background .profile_container h3 {
    margin-top: 100px;
  }
  .profile_background .profile_container img {
    position: relative;
    bottom: 80%;
    left: 35%;
    height: 90px;
    width: 90px;
  }
  .profile_background .profile_container .profile_edit-button {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-left: -50px;
  }
}/*# sourceMappingURL=main.css.map */